<div *ngIf="pattern">

  <h2>{{pattern.name}}</h2>
  <div><span>ID: </span>{{pattern.id}}</div>
  <div><span>Name: </span>{{pattern.name}}</div>
  <div><span>Description: </span>{{pattern.description}}</div>
  <div><span>Author: </span>{{pattern.author}}</div>
  <div><span>Available: </span>{{pattern.available}}</div>
  <div><span>Editable: </span>{{pattern.editable}}</div>
  <div><span>Keywords: </span>
    <ul class="list">
      <li *ngFor="let keyword of pattern.keywords">
        {{keyword}}
      </li>
    </ul>
  </div>
  <div><span>Versions: </span>
    <ul class="list">
      <li *ngFor="let v of pattern.versions; let i = index">
        <span>Version: </span>{{i + 1}}
        <div><span>id: </span> {{v.id}}</div>
        <div><span>goal: </span> {{v.goal}}</div>
      </li>
    </ul>
  </div>


  <app-back-button></app-back-button>

</div>
