<div *ngIf="pattern">
  <div *ngIf="!isLoaded">
    <mat-progress-bar
      mode="indeterminate">
    </mat-progress-bar>
  </div>

  <h2>{{pattern.name}}</h2>
  <div><span class="font-weight-bold">ID: </span>{{pattern.id}}</div>
  <div><span class="font-weight-bold">Name: </span>{{pattern.name}}</div>
  <div><span class="font-weight-bold">Description: </span>{{pattern.description}}</div>
  <div><span class="font-weight-bold">Author: </span>{{pattern.author}}</div>
  <div><span class="font-weight-bold">Available: </span>{{pattern.available}}</div>
  <div><span class="font-weight-bold">Editable: </span>{{pattern.editable}}</div>
  <div><span class="font-weight-bold">Keywords: </span>
    <ul class="list">
      <li *ngFor="let keyword of pattern.keywords">
        {{keyword}}
      </li>
    </ul>
  </div>
  <div><span class="font-weight-bold">Versions: </span>
    <ul class="list">
      <li *ngFor="let v of pattern.versions; let i = index">
        <span>Version: </span>{{i + 1}}
        <div><span>id: </span> {{v.id}}</div>
        <div><span>goal: </span> {{v.goal}}</div>
      </li>
    </ul>
  </div>


  <app-back-button *ngIf="!isEmbedded"></app-back-button>

</div>
